SPRING_PROFILES_ACTIVE=prod

QA_SERVICE_DB_URL=jdbc:postgresql://postgres-qa:5432/qa_service_db
QA_SERVICE_DB_USER=qa_user
QA_SERVICE_DB_PASS=qa_pass

QA_SERVICE_REDIS_HOST=redis-qa
QA_SERVICE_REDIS_PORT=6379

QA_SERVICE_KAFKA_BOOTSTRAP_SERVERS=kafka:9092

QA_SERVICE_EUREKA_URL=http://eureka-server:8761/eureka/

QA_SERVICE_SERVER_PORT=8098
