SPRING_PROFILES_ACTIVE=prod

QA_SERVICE_DB_URL=jdbc://
QA_SERVICE_DB_USER=qa_user
QA_SERVICE_DB_PASS=qa_pass

QA_SERVICE_REDIS_HOST=r
QA_SERVICE_REDIS_PORT=

QA_SERVICE_KAFKA_BOOTSTRAP_SERVERS=

QA_SERVICE_EUREKA_URL=

QA_SERVICE_SERVER_PORT=